    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:16
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-atomic-sign:before { content: "\f100"; }
.flaticon-briefcarrier-with-handle:before { content: "\f101"; }
.flaticon-candy-stick:before { content: "\f102"; }
.flaticon-capital-letter-a:before { content: "\f103"; }
.flaticon-cell-connection:before { content: "\f104"; }
.flaticon-chemistry-flask:before { content: "\f105"; }
.flaticon-cutter:before { content: "\f106"; }
.flaticon-division-sign:before { content: "\f107"; }
.flaticon-draw-adding-cross:before { content: "\f108"; }
.flaticon-draw-alarm-clock:before { content: "\f109"; }
.flaticon-draw-basketball-ball:before { content: "\f10a"; }
.flaticon-draw-book:before { content: "\f10b"; }
.flaticon-draw-boot:before { content: "\f10c"; }
.flaticon-draw-calculator:before { content: "\f10d"; }
.flaticon-draw-chick:before { content: "\f10e"; }
.flaticon-draw-computer-mouse:before { content: "\f10f"; }
.flaticon-draw-light-bulb:before { content: "\f110"; }
.flaticon-draw-message-bubble:before { content: "\f111"; }
.flaticon-draw-open-laptop:before { content: "\f112"; }
.flaticon-draw-open-umbrella:before { content: "\f113"; }
.flaticon-draw-paint-stain:before { content: "\f114"; }
.flaticon-draw-paper-with-push-pin:before { content: "\f115"; }
.flaticon-draw-school-bus:before { content: "\f116"; }
.flaticon-draw-school-notebook:before { content: "\f117"; }
.flaticon-draw-set-square:before { content: "\f118"; }
.flaticon-draw-sport-shoe:before { content: "\f119"; }
.flaticon-draw-stack-of-papers:before { content: "\f11a"; }
.flaticon-draw-telescope:before { content: "\f11b"; }
.flaticon-drawed-kite:before { content: "\f11c"; }
.flaticon-drawing-of-a-handbell:before { content: "\f11d"; }
.flaticon-drawing-of-a-tree:before { content: "\f11e"; }
.flaticon-drawing-of-an-apple:before { content: "\f11f"; }
.flaticon-drawing-of-number-3:before { content: "\f120"; }
.flaticon-equal-sign:before { content: "\f121"; }
.flaticon-fertility:before { content: "\f122"; }
.flaticon-flower-drawing:before { content: "\f123"; }
.flaticon-flying-balloon:before { content: "\f124"; }
.flaticon-full-draw-flask:before { content: "\f125"; }
.flaticon-glue-stick:before { content: "\f126"; }
.flaticon-graduate-cap:before { content: "\f127"; }
.flaticon-hard-candy:before { content: "\f128"; }
.flaticon-honor-badge:before { content: "\f129"; }
.flaticon-leage-winner:before { content: "\f12a"; }
.flaticon-letter-b:before { content: "\f12b"; }
.flaticon-letter-c:before { content: "\f12c"; }
.flaticon-manifying-glass-for-school:before { content: "\f12d"; }
.flaticon-mathematical-school-blackboard:before { content: "\f12e"; }
.flaticon-maths-symbols:before { content: "\f12f"; }
.flaticon-multiply-sign:before { content: "\f130"; }
.flaticon-notepad-with-rings:before { content: "\f131"; }
.flaticon-number-1-drawing:before { content: "\f132"; }
.flaticon-number-two:before { content: "\f133"; }
.flaticon-old-abacus:before { content: "\f134"; }
.flaticon-opened-textbook:before { content: "\f135"; }
.flaticon-paint-palette-draw:before { content: "\f136"; }
.flaticon-paper-with-clip:before { content: "\f137"; }
.flaticon-park-leaf:before { content: "\f138"; }
.flaticon-pen-for-signature:before { content: "\f139"; }
.flaticon-pencil-for-studying:before { content: "\f13a"; }
.flaticon-playground-football-ball:before { content: "\f13b"; }
.flaticon-pretty-butterfly:before { content: "\f13c"; }
.flaticon-protractor:before { content: "\f13d"; }
.flaticon-ringed-notepad:before { content: "\f13e"; }
.flaticon-school-backpack:before { content: "\f13f"; }
.flaticon-school-doubt:before { content: "\f140"; }
.flaticon-school-globe:before { content: "\f141"; }
.flaticon-school-notepad:before { content: "\f142"; }
.flaticon-school-paint-brush:before { content: "\f143"; }
.flaticon-school-pen:before { content: "\f144"; }
.flaticon-school-ruler:before { content: "\f145"; }
.flaticon-school-subtraction:before { content: "\f146"; }
.flaticon-sellotaped-note:before { content: "\f147"; }
.flaticon-speech-bubble-with-question-mark:before { content: "\f148"; }
.flaticon-square-root:before { content: "\f149"; }
.flaticon-stack-of-books:before { content: "\f14a"; }
.flaticon-storage-folder:before { content: "\f14b"; }
.flaticon-subtraction-sign:before { content: "\f14c"; }
.flaticon-sum-drawing:before { content: "\f14d"; }
.flaticon-table-lamp-drawing:before { content: "\f14e"; }
.flaticon-warm-sun:before { content: "\f14f"; }
    
    $font-Flaticon-atomic-sign: "\f100";
    $font-Flaticon-briefcarrier-with-handle: "\f101";
    $font-Flaticon-candy-stick: "\f102";
    $font-Flaticon-capital-letter-a: "\f103";
    $font-Flaticon-cell-connection: "\f104";
    $font-Flaticon-chemistry-flask: "\f105";
    $font-Flaticon-cutter: "\f106";
    $font-Flaticon-division-sign: "\f107";
    $font-Flaticon-draw-adding-cross: "\f108";
    $font-Flaticon-draw-alarm-clock: "\f109";
    $font-Flaticon-draw-basketball-ball: "\f10a";
    $font-Flaticon-draw-book: "\f10b";
    $font-Flaticon-draw-boot: "\f10c";
    $font-Flaticon-draw-calculator: "\f10d";
    $font-Flaticon-draw-chick: "\f10e";
    $font-Flaticon-draw-computer-mouse: "\f10f";
    $font-Flaticon-draw-light-bulb: "\f110";
    $font-Flaticon-draw-message-bubble: "\f111";
    $font-Flaticon-draw-open-laptop: "\f112";
    $font-Flaticon-draw-open-umbrella: "\f113";
    $font-Flaticon-draw-paint-stain: "\f114";
    $font-Flaticon-draw-paper-with-push-pin: "\f115";
    $font-Flaticon-draw-school-bus: "\f116";
    $font-Flaticon-draw-school-notebook: "\f117";
    $font-Flaticon-draw-set-square: "\f118";
    $font-Flaticon-draw-sport-shoe: "\f119";
    $font-Flaticon-draw-stack-of-papers: "\f11a";
    $font-Flaticon-draw-telescope: "\f11b";
    $font-Flaticon-drawed-kite: "\f11c";
    $font-Flaticon-drawing-of-a-handbell: "\f11d";
    $font-Flaticon-drawing-of-a-tree: "\f11e";
    $font-Flaticon-drawing-of-an-apple: "\f11f";
    $font-Flaticon-drawing-of-number-3: "\f120";
    $font-Flaticon-equal-sign: "\f121";
    $font-Flaticon-fertility: "\f122";
    $font-Flaticon-flower-drawing: "\f123";
    $font-Flaticon-flying-balloon: "\f124";
    $font-Flaticon-full-draw-flask: "\f125";
    $font-Flaticon-glue-stick: "\f126";
    $font-Flaticon-graduate-cap: "\f127";
    $font-Flaticon-hard-candy: "\f128";
    $font-Flaticon-honor-badge: "\f129";
    $font-Flaticon-leage-winner: "\f12a";
    $font-Flaticon-letter-b: "\f12b";
    $font-Flaticon-letter-c: "\f12c";
    $font-Flaticon-manifying-glass-for-school: "\f12d";
    $font-Flaticon-mathematical-school-blackboard: "\f12e";
    $font-Flaticon-maths-symbols: "\f12f";
    $font-Flaticon-multiply-sign: "\f130";
    $font-Flaticon-notepad-with-rings: "\f131";
    $font-Flaticon-number-1-drawing: "\f132";
    $font-Flaticon-number-two: "\f133";
    $font-Flaticon-old-abacus: "\f134";
    $font-Flaticon-opened-textbook: "\f135";
    $font-Flaticon-paint-palette-draw: "\f136";
    $font-Flaticon-paper-with-clip: "\f137";
    $font-Flaticon-park-leaf: "\f138";
    $font-Flaticon-pen-for-signature: "\f139";
    $font-Flaticon-pencil-for-studying: "\f13a";
    $font-Flaticon-playground-football-ball: "\f13b";
    $font-Flaticon-pretty-butterfly: "\f13c";
    $font-Flaticon-protractor: "\f13d";
    $font-Flaticon-ringed-notepad: "\f13e";
    $font-Flaticon-school-backpack: "\f13f";
    $font-Flaticon-school-doubt: "\f140";
    $font-Flaticon-school-globe: "\f141";
    $font-Flaticon-school-notepad: "\f142";
    $font-Flaticon-school-paint-brush: "\f143";
    $font-Flaticon-school-pen: "\f144";
    $font-Flaticon-school-ruler: "\f145";
    $font-Flaticon-school-subtraction: "\f146";
    $font-Flaticon-sellotaped-note: "\f147";
    $font-Flaticon-speech-bubble-with-question-mark: "\f148";
    $font-Flaticon-square-root: "\f149";
    $font-Flaticon-stack-of-books: "\f14a";
    $font-Flaticon-storage-folder: "\f14b";
    $font-Flaticon-subtraction-sign: "\f14c";
    $font-Flaticon-sum-drawing: "\f14d";
    $font-Flaticon-table-lamp-drawing: "\f14e";
    $font-Flaticon-warm-sun: "\f14f";